﻿@model Mvc.Models.mvcEmployeeModel
@{
    ViewBag.Title = "AddOrEdit";
}

<br />
<br />

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.EmployeeID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Position)
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age)
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary)
            @Html.EditorFor(model => model.Salary)
            @Html.ValidationMessageFor(model => model.Salary)

        </div>
        <div>
            <input type="submit" value="Submit" class="btn button"/>
            <input type="reset" value="Reset" class="btn button" />
        </div>

    }


</div>

@section scripts{
        @Scripts.Render("~/bundles/jqueryval");
    }